# yamllint disable rule:line-length
---
site_name: OpenStack K8S Operators Architectures
site_description: OpenStack K8S Operators Architectures
site_author: OpenStack Team
site_url: https://openstack-k8s-operators.github.io/architecture
repo_name: openstack-k8s-operators/architecture
repo_url: https://github.com/openstack-k8s-operators/architecture
theme:
  features:
    - search.suggest
    - search.highlight
    - search.share
  name: material
  logo: images/openstack-logo.png
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
nav:
  - Overview: index.md
  - Validated Architectures:
      - HCI: https://github.com/openstack-k8s-operators/architecture/tree/main/examples/va/hci/README.md
      - NFV SRIOV: https://github.com/openstack-k8s-operators/architecture/blob/main/examples/va/nfv/sriov/README.md
      - NFV OvS DPDK: https://github.com/openstack-k8s-operators/architecture/blob/main/examples/va/nfv/ovs-dpdk/README.md

  - Deployed Topologies:
      - None
  - FAQ:
      - Creating Smaller CRs: faq/cr_by_components.md
  - Contributing:
      - contributing/documentation.md
      - contributing/pull-request-testing.md
markdown_extensions:
  - toc:
      permalink: "#"
  - pymdownx.superfences
  - admonition
extra:
  version:
    provider: mike
    default: latest
plugins:
  - git-revision-date
  - search:
      lang: en
      prebuild_index: true
