---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

transformers:
  # Set namespace to OpenStack on all namespaced objects without a namespace
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: _ignored_
      namespace: openstack
    setRoleBindingSubjects: none
    unsetOnly: true
    fieldSpecs:
      - path: metadata/name
        kind: Namespace
        create: true

components:
  - ../../../../../../dt/dcn/nncp
  # Uncomment the following for deployments which use the storagemgmt
  # VLAN interface on OCP nodes (not necessary for Ceph)
  # - ../../../../../../dt/dcn/nncp-storagemgmt


resources:
  - values.yaml
