---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

components:
  - ../../multi-namespace/control-plane

patches:
  - target:
      kind: ConfigMap
      name: service-values
    path: service-values.yaml
