---
apiVersion: v1
kind: ConfigMap

metadata:
  name: service-values
  annotations:
    config.kubernetes.io/local-config: "true"

data:
  preserveJobs: false
  cinderVolumes:
    ontap-iscsi:
      customServiceConfig: |
        [ontap]
        volume_backend_name=ontap
        volume_driver=cinder.volume.drivers.netapp.common.NetAppDriver
        netapp_server_hostname=_replaced_
        netapp_server_port=80
        netapp_storage_protocol=iscsi
        netapp_storage_family=ontap_cluster
        consistencygroup_support=True
      networkAttachments:
        - storage
      customServiceConfigSecrets:
        - cinder-volume-ontap-secrets
  cinder-volume-ontap-secrets: |
    [ontap]
    netapp_login = _replaced_
    netapp_password = _replaced_
    netapp_vserver = _replaced_
  cinderBackup:
    customServiceConfig: |
      [DEFAULT]
      backup_driver = cinder.backup.drivers.swift.SwiftBackupDriver
    replicas: 1

  glance:
    customServiceConfig: |
      [DEFAULT]
      debug=True
      enabled_backends = default_backend:cinder
      [glance_store]
      default_backend = default_backend
      [default_backend]
      rootwrap_config = /etc/glance/rootwrap.conf
      description = Default cinder backend
      cinder_store_auth_address = {{ .KeystoneInternalURL }}
      cinder_store_user_name = {{ .ServiceUser }}
      cinder_store_password = {{ .ServicePassword }}
      cinder_store_project_name = service
      cinder_catalog_info = volumev3::internalURL
      # TODO: Enable multipath when OSPRH-7393 is resolved
      # cinder_use_multipath = true
      [oslo_concurrency]
      lock_path = /var/lib/glance/tmp
    databaseInstance: openstack
    glanceAPIs:
      default:
        preserveJobs: false
        replicas: 3
        type: split

  swift:
    enabled: true


  octavia:
    enabled: false
    amphoraImageContainerImage: quay.io/gthiemonge/octavia-amphora-image
    apacheContainerImage: registry.redhat.io/ubi9/httpd-24:latest
    octaviaAPI:
      networkAttachments:
        - internalapi
    octaviaHousekeeping:
      networkAttachments:
        - octavia
    octaviaHealthManager:
      networkAttachments:
        - octavia
    octaviaWorker:
      networkAttachments:
        - octavia

  heat:
    enabled: true

  ovn:
    ovnController:
      nicMappings:
        datacentre: ocpbr
        octavia: octbr

  neutron:
    customServiceConfig: |
      [DEFAULT]
      vlan_transparent = true
      agent_down_time = 600
      router_distributed = true
      router_scheduler_driver = neutron.scheduler.l3_agent_scheduler.ChanceScheduler
      allow_automatic_l3agent_failover = true
      debug = true

      [agent]
      report_interval = 300

      [database]
      max_retries = -1
      db_max_retries = -1

      [keystone_authtoken]
      region_name = regionOne
      memcache_use_advanced_pool = True

      [oslo_messaging_notifications]
      driver = noop

      [oslo_middleware]
      enable_proxy_headers_parsing = true

      [oslo_policy]
      policy_file = /etc/neutron/policy.yaml

      [ovs]
      igmp_snooping_enable = true

      [ovn]
      ovsdb_probe_interval = 60000
      ovn_emit_need_to_frag = false

      [ml2]
      type_drivers = geneve,vxlan,vlan,flat
      tenant_network_types = geneve,flat,vlan
