---
apiVersion: v1
kind: ConfigMap

metadata:
  name: service-values
  annotations:
    config.kubernetes.io/local-config: "true"

data:
  # --- Fields required by lib/control-plane ---
  preserveJobs: false
  notificationsBus:
    cluster: rabbitmq
  tls:
    caBundleSecretName: ""

  # --- Below are VA/DT-specific data ---
  galera:
    templates:
      openstack-cell2:
        storageClass: lvms-local-storage
        storageRequest: 5G
        secret: osp-secret
        replicas: 3

  glance:
    customServiceConfig: |
      [DEFAULT]
      enabled_backends = default_backend:swift
      [glance_store]
      default_backend = default_backend
      [default_backend]
      swift_store_create_container_on_put = True
      swift_store_auth_version = 3
      swift_store_auth_address = {{ .KeystoneInternalURL }}
      swift_store_endpoint_type = internalURL
      swift_store_user = service:glance
      swift_store_key = {{ .ServicePassword }}
    default:
      replicas: 1

  nova:
    template:
      secret: osp-secret
      cellTemplates:
        cell2:
          cellDatabaseAccount: nova-cell2
          cellDatabaseInstance: openstack-cell2
          messagingBus:
            cluster: rabbitmq-cell2
          conductorServiceTemplate:
            replicas: 1
          hasAPIAccess: true

  swift:
    enabled: true
  telemetry:
    enabled: true
    template:
      ceilometer:
        enabled: true

  rabbitmq:
    templates:
      rabbitmq-cell2:
        replicas: 3
