---
apiVersion: v1
kind: ConfigMap
metadata:
  name: edpm-nodeset-values
  annotations:
    config.kubernetes.io/local-config: "true"

data:
  ssh_keys:
    # Authorized keys that will have access to the dataplane computes via SSH
    authorized: CHANGEME
    # The private key that will have access to the dataplane computes via SSH
    private: CHANGEME2
    # The public key that will have access to the dataplane computes via SSH
    public: CHANGEME3

  nodeset:
    ansible:
      ansibleUser: cloud-admin
      ansiblePort: 22
      ansibleVars:
        timesync_ntp_servers:
          - hostname: pool.ntp.org
        # CHANGEME -- see https://access.redhat.com/solutions/253273
        # edpm_bootstrap_command: |
        #       subscription-manager register --username <subscription_manager_username> \
        #         --password <subscription_manager_password>
        #       podman login -u <registry_username> -p <registry_password> registry.redhat.io
        edpm_network_config_hide_sensitive_logs: false
        edpm_network_config_template: |
          ---
          {% set mtu_list = [ctlplane_mtu] %}
          {% for network in nodeset_networks %}
          {{ mtu_list.append(lookup('vars', networks_lower[network] ~ '_mtu')) }}
          {%- endfor %}
          {% set min_viable_mtu = mtu_list | max %}
          network_config:
          - type: ovs_bridge
            name: {{ neutron_physical_bridge_name }}
            mtu: {{ min_viable_mtu }}
            use_dhcp: false
            dns_servers: {{ ctlplane_dns_nameservers }}
            domain: {{ dns_search_domains }}
            addresses:
            - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_cidr }}
            routes: {{ ctlplane_host_routes }}
            members:
            - type: interface
              name: nic2
              mtu: {{ min_viable_mtu }}
              # force the MAC address of the bridge to this interface
              primary: true
          {% for network in nodeset_networks %}
            - type: vlan
              mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
              vlan_id: {{ lookup('vars', networks_lower[network] ~ '_vlan_id') }}
              addresses:
              - ip_netmask:
                  {{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}
              routes: {{ lookup('vars', networks_lower[network] ~ '_host_routes') }}
          {% endfor %}
        edpm_nodes_validation_validate_controllers_icmp: false
        edpm_nodes_validation_validate_gateway_icmp: false
        edpm_selinux_mode: enforcing
        edpm_sshd_allowed_ranges:
          - "2620:cf:cf:aaaa::/64"
        edpm_sshd_configure_firewall: true
        enable_debug: false
        gather_facts: false
        neutron_physical_bridge_name: br-ex
        neutron_public_interface_name: eth0
        edpm_ceph_hci_pre_enabled_services:
          - ceph_mon
          - ceph_mgr
          - ceph_osd
          - ceph_rgw
          - ceph_nfs
          - ceph_rgw_frontend
          - ceph_nfs_frontend
        storage_mtu: 9000
        storage_mgmt_mtu: 9000
        storage_mgmt_vlan_id: 23
        storage_mgmt_cidr: "64"
        storage_mgmt_host_routes: []

    networks:
      - defaultRoute: true
        name: ctlplane
        subnetName: subnet1
      - name: internalapi
        subnetName: subnet1
      - name: storage
        subnetName: subnet1
      - name: tenant
        subnetName: subnet1
      - name: storagemgmt
        subnetName: subnet1

    nodes:
      edpm-ceph-0:
        ansible:
          ansibleHost: 2620:cf:cf:aaaa::105
        hostName: edpm-ceph-0
        networks:
          - defaultRoute: true
            fixedIP: 2620:cf:cf:aaaa::105
            name: ctlplane
            subnetName: subnet1
          - name: storage
            subnetName: subnet1
          - name: storageMgmt
            subnetName: subnet1
      edpm-ceph-1:
        ansible:
          ansibleHost: 2620:cf:cf:aaaa::106
        hostName: edpm-ceph-1
        networks:
          - defaultRoute: true
            fixedIP: 2620:cf:cf:aaaa::106
            name: ctlplane
            subnetName: subnet1
          - name: storage
            subnetName: subnet1
          - name: storageMgmt
            subnetName: subnet1
      edpm-ceph-2:
        ansible:
          ansibleHost: 2620:cf:cf:aaaa::107
        hostName: edpm-ceph-2
        networks:
          - defaultRoute: true
            fixedIP: 2620:cf:cf:aaaa::107
            name: ctlplane
            subnetName: subnet1
          - name: storage
            subnetName: subnet1
          - name: storageMgmt
            subnetName: subnet1

    services:
      - bootstrap
      - configure-network
      - validate-network
      - install-os
      - ceph-hci-pre

  nova:
    migration:
      ssh_keys:
        private: CHANGEME4
        public: CHANGEME5
